<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PABD.Properties.Settings.Atim_MoviesConnectionString"
            connectionString="Data Source=ALYAZAHWA;Initial Catalog=Atim_Movies;User ID=sa;Password=Zahwa280502"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>